body {background-color: rgb(191, 188, 171);}
.port {text-align: center;
       background-color: darkgoldenrod;
       color: rgb(0, 0, 0);
       font-family: 'Times New Roman', Times, serif;
       font-size: 55px;
       font-weight: bold;
       text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);}
.ant {color: black;
      font-family: 'Times New Roman', Times, serif;
      font-style: italic;}
.lin {border: 1px solid black;
      margin: 20px 0;}
.fita {display: block;
       margin: 0 auto;
       width: auto ;
       height: auto;}
.ps {text-align: center;
     font-family: 'Times New Roman', Times, serif;
     font-size: 55px;
     color: black;}
.cons { width: auto;
        height: auto;
        display: block;
        margin: 0 auto;}
.uti {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

